<div class="forgot flexCenter font14">
    <mat-card>
        <mat-card-title>
            <h2 class="fontHeader">Reset Password</h2>
        </mat-card-title>

        <mat-card-content class="flexCenter" style="flex-direction: column;">
            @if(stage == 'generate') {
                <form (ngSubmit)="generateOTP()">
                    <mat-form-field>
                        <mat-label>Email ID</mat-label>
                        <input matInput placeholder="Please Enter Email ID" [(ngModel)]="mail_id" required>
                        <mat-error>Please provide a valid Email ID</mat-error>
                    </mat-form-field>
                    <mat-card-actions>
                        <button class="blueBtn" mat-raised-button type="submit">Generate OTP</button>
                    </mat-card-actions>
                </form>
            }

            @else if(stage == 'validate') {
                <h4>The OTP has been sent to <i>{{mail_id}}</i></h4>
                <form (ngSubmit)="validateOTP()">
                    <div>
                        <ng-otp-input #ngOtpInput (onInputChange)="onChangeOTP($event)" [config]="{length: 6, isPasswordInput: true}"></ng-otp-input>
                    </div>
                    <mat-card-actions>
                        <button class="blueBtn" mat-raised-button type="submit">Validate OTP</button>
                    </mat-card-actions>
                </form>
            }

            @else if(stage == 'reset') {
                <form [formGroup]="password" (ngSubmit)="reset()">
                    <mat-error *ngIf="">
                        The username and password were not recognised
                    </mat-error>
                    <div class="flex">
                        <mat-form-field class="width: 100%">
                            <mat-label>New Password</mat-label>
                            <input matInput type="password" placeholder="Please Enter New Password" name="npass" formControlName="npass" required>
                            <mat-error>Password must be at least 8 characters</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex">{{password.value.npass.errors?.minlength}}
                        <mat-form-field class="w-full"  >
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" placeholder="Please Confirm Password" name="cpass" formControlName="cpass" required>
                            <mat-error>Password must be at least 8 characters</mat-error>
                        </mat-form-field>
                    </div>
                    <mat-card-actions>
                        <button class="blueBtn" mat-raised-button color="text-font" type="submit">Reset Password</button>
                    </mat-card-actions>
                </form>
            }
        </mat-card-content>

        <mat-card-footer>
            <a [routerLink]="['/login']">Return to Login</a>
        </mat-card-footer>
    </mat-card>
</div>