<div id="{{config().flags.id}}" style="display: flex; flex-direction: column; height: 100%;">
    <!-- TOOLBAR -->
    @if (config().flags.toolbar) {
        <mat-tab-group class="toolbar" mat-align-tabs="start" animationDuration="0ms">
            @for (tool of toolbarList; track tool) {
                <mat-tab class="toolbarTab font14" label="{{tool}}"> 
                    @if(tool=='Font Operations') {
                        <!-- Buttons to change the style of text -->
                        <div style="display: flex;gap: 20px;">
                            <!-- <span>
                                <button class="trpntBtn" (click)="style['font-size'] = style.fontSizeOptions[style.fontSizeOptions.indexOf(style['font-size'])-1]||style.fontSizeOptions[0]; fontOperations('size', style['font-size'], $event)"><i class="fa fa-solid fa-minus"></i></button>
                                <label class="trpntBtn">
                                    <input class="btn" type="input" list="style['font-size']" [(ngModel)]="style['font-size']" (change)="fontOperations('size', style['font-size'], $event)" class="input_dropdown"/>
                                    @if(popup == 'fontsize') {
                                        <div id="fontsize" class="fontsizePickerContainer popup">
                                            @for (size of style.fontSizeOptions; track size) {
                                                <span (click)="style['font-size'] = size;fontOperations('size', style['font-size'], $event);togglePopup($event, false)">
                                                    {{size}}
                                                </span>
                                            }
                                        </div>
                                    }
                                    <button class="trpntBtn" style="padding: 0;" (click)="togglePopup($event, 'fontsize')">
                                        <i class="fa fa-xs fa-solid fa-chevron-down" style="cursor: pointer;"></i>
                                    </button>
                                </label>
                                <button class="trpntBtn" (click)="style['font-size'] = style.fontSizeOptions[style.fontSizeOptions.indexOf(style['font-size'])+1]||style.fontSizeOptions[style.fontSizeOptions.length-1]; fontOperations('size', style['font-size'], $event)"><i class="fa fa-solid fa-plus"></i></button>
                            </span> -->

                            <app-dropdown [config]="style.fontSize"></app-dropdown>

                            <button class="trpntBtn" (click)="fontOperations('bold', 't', $event)" [ngClass]="{'blueBtn': focusedCell?.rowNode.data?.style?.[focusedCell.colId]?.['font-weight']=='800'}"><i class="fa fa-solid fa-bold"></i></button>
                            <button class="trpntBtn" (click)="fontOperations('italic', 't', $event)" [ngClass]="{'blueBtn': focusedCell?.rowNode.data?.style?.[focusedCell.colId]?.['font-style']=='italic'}"><i class="fa fa-solid fa-italic"></i></button>
                            <button class="trpntBtn" (click)="fontOperations('underline', 't', $event)" [ngClass]="{'blueBtn': focusedCell?.rowNode.data?.style?.[focusedCell.colId]?.['text-decoration']?.includes('underline')}"><i class="fa fa-solid fa-underline"></i></button>
                            <button class="trpntBtn" (click)="fontOperations('strikethrough', 't', $event)" [ngClass]="{'blueBtn': focusedCell?.rowNode.data?.style?.[focusedCell.colId]?.['text-decoration']?.includes('line-through')}"><i class="fa fa-solid fa-strikethrough"></i></button>
                
                            <button for="bgcolor" class="trpntBtn" (click)="togglePopup($event, 'bgcolor')" [ngStyle]="{'color': focusedCell?.rowNode.data?.style?.[focusedCell.colId]?.['background-color']}">
                            <i class="fa fa-solid fa-fill-drip"></i>
                            @if(popup == 'bgcolor') {
                                <div id="bgcolor" class="colorPickerContainer popup font12">
                                    <span style="display: flex;gap: 16px;width: 100%" (click)="fontOperations('background-color', 'unset', $event)">
                                        <div class="colorPickerBox" style="height: 16px;width: 16px" [ngStyle]="{'background-color': '#fcfcfc'}"></div>
                                        <span> Default </span>
                                    </span>
                                    @for (color of style.colors; track color) {
                                        <div style="display: flex;flex-wrap: wrap;gap: 16px;">
                                            <div class="colorPickerBox" [ngStyle]="{'background-color': color}" (click)="fontOperations('background-color', color, $event)"></div>
                                        </div>
                                    }
                                    <label for="background-color" (click)="$event.stopPropagation();"> More Colours... </label>
                                    <input id="background-color" type="color" (click)="$event.stopPropagation();" [(ngModel)]="style['background-color']" (input)="fontOperations('background-color', style['background-color'], $event)" style="border: none;display: flex; width: 0; height: 0;visibility: hidden"/>
                                    </div>
                                }
                            </button>
                
                            <button for="fontcolor" class="trpntBtn" (click)="togglePopup($event, 'fontcolor')" [ngStyle]="{'color': focusedCell?.rowNode.data?.style?.[focusedCell.colId]?.['color']}">
                                <i class="fa fa-solid fa-a"></i>
                                @if(popup == 'fontcolor') {
                                    <div id="fontcolor" class="colorPickerContainer popup font12">
                                        <span style="display: flex;gap: 16px;width: 100%" (click)="fontOperations('color', 'unset', $event)">
                                            <div class="colorPickerBox" style="height: 16px;width: 16px" [ngStyle]="{'background-color': '#181d1f'}"></div>
                                            <span> Default </span>
                                        </span>
                                        @for (color of style.colors; track color) {
                                            <div style="display: flex;gap: 16px;">
                                                <div class="colorPickerBox" style="display: flex;gap: 16px;height: 16px;width: 16px" [ngStyle]="{'background-color': color}" (click)="fontOperations('color', color, $event)"></div>
                                            </div>
                                        }
                                        <label for="background-color" (click)="$event.stopPropagation();"> More Colours... </label>
                                        <input id="background-color" type="color" (click)="$event.stopPropagation();" [(ngModel)]="style['background-color']" (input)="fontOperations('background-color', style['background-color'], $event)" style="border: none;display: flex; width: 0; height: 0;visibility: hidden"/>
                                    </div>
                                }
                            </button>
    
                            <button class="trpntBtn" (click)="fontOperations('clear', '', $event)"><i class="fa fa-solid fa-eraser"></i></button>
                        </div>
                    } @else if(tool=='Filter') {
                        <!-- Check for text in every cell in the grid -->
                        <div style="display: flex;gap: 30px;padding: 6px 0px;">
                            <div style="display: flex;gap: 10px;">
                                <label> Entire Grid Search: </label>
                                <input autofocus class="input" [(ngModel)]="search" (keyup)="gridSearch(search)"/>
                            </div>
                        </div>
                    } @else if(tool=='View') {
                        <!-- Hide/Show Rows and Columns -->
                        <div style="display: flex">
                            <button class="trpntBtn" (click)="mainEdit('HideSelectedRows')" >Hide Selected Rows</button>
                            <button class="trpntBtn" (click)="mainEdit('UnhideAllRows')">Unhide All Rows</button>
                            <button class="trpntBtn" (click)="mainEdit('HideSelectedCols')" >Hide Selected Columns</button>
                            <button class="trpntBtn" (click)="mainEdit('UnhideAllCols')">Unhide All Columns</button>
                            <div class="flexCenter">
                                Visible Columns:
                                <app-dropdown [config]="colVisConfig"></app-dropdown>
                            </div>
                        </div>
                    } @else if(tool=='Insert') {
                        <!-- Insert/Delete Rows and Columns -->
                        <div style="display: inline-flex;gap: 16px;">
                            <div style="display: flex;align-items:center">
                                <label style="font-weight: 600;font-size: large;">Insert:</label>
                            </div>
                            <div>
                                <label style="font-weight: 600;">Row:</label>
                                <span style="display: inline-flex;"> 
                                    <button class="trpntBtn" (click)="mainEdit('InsertRowAbove')">Above</button>
                                    <button class="trpntBtn" (click)="mainEdit('InsertRowBelow')">Below</button>
                                </span>
                            </div>
                            <div>
                                <label style="font-weight: 600;border-left: 1px solid;padding-left: 24px;">Column:</label>
                                <span style="display: inline-flex;"> 
                                    <button class="trpntBtn" (click)="mainEdit('InsertColLeft')">Left</button>
                                    <button class="trpntBtn" (click)="mainEdit('InsertColRight')">Right</button>
                                </span>
                            </div>
                            <div style="display: flex;align-items:center">
                                <label style="font-weight: 600;font-size: large;border-left: 1px solid;padding-left: 48px;">Delete:</label>
                            </div>
                            <div>
                                <span style="display: inline-flex;"> 
                                    <button class="trpntBtn" title="Delete Cells" (click)="mainEdit('DeleteCells')">Cells</button>
                                    <button class="trpntBtn" title="Delete Rows" (click)="mainEdit('DeleteRows')">Rows</button>
                                    <button class="trpntBtn" title="Retain Rows" (click)="mainEdit('RetainRows')">Retain</button>
                                    <button class="trpntBtn" title="Delete Columns" (click)="mainEdit('DeleteColumns')">Columns</button>
                                </span>
                            </div>
                       </div>
                    } @else if(tool=='Clipboard') {
                        <!-- Clipboard Operation -->
                        <span style="display: flex;gap: 20px;">
                            <button class="trpntBtn" title="Copy" (click)="clipboardOperations('copy')"><i class="fa fa-solid fa-copy"></i></button>
                            <button class="trpntBtn" title="Cut" (click)="clipboardOperations('cut')"><i class="fa fa-solid fa-cut"></i></button>
                            <button class="trpntBtn" title="Paste" (click)="clipboardOperations('paste')"><i class="fa fa-solid fa-paste"></i></button>
                        </span>
                    } @else if(tool=='Alignment') {
                        <!-- Align text within the cell -->
                        <span style="display: flex;gap: 16px; flex-direction: row;">
                            <span class="flexCenter">
                                <label>Horizontal:</label>
                                <button class="trpntBtn" title="Align Left" (click)="fontOperations('halign', 'left', $event)">
                                    <mat-icon>format_align_left</mat-icon>
                                </button>
                                <button class="trpntBtn" title="Align Center" (click)="fontOperations('halign', 'center', $event)">
                                    <mat-icon>format_align_center</mat-icon>
                                </button>
                                <button class="trpntBtn" title="Align Right" (click)="fontOperations('halign', 'right', $event)">
                                    <mat-icon>format_align_right</mat-icon>
                                </button>
                            </span>
    
                            <span class="flexCenter" style="border-left: 1px solid;padding-left: 48px;">
                                <label>Vertical:</label>
                                <button class="trpntBtn" title="Align Left" (click)="fontOperations('valign', 'start', $event)">
                                    <mat-icon>vertical_align_top</mat-icon>
                                </button>
                                <button class="trpntBtn" title="Align Center" (click)="fontOperations('valign', 'center', $event)">
                                    <mat-icon>vertical_align_center</mat-icon>
                                </button>
                                <button class="trpntBtn" title="Align Right" (click)="fontOperations('valign', 'end', $event)">
                                    <mat-icon>vertical_align_bottom</mat-icon>
                                </button>
                            </span>
                            <!-- Combine selected cells into a selected cell -->
                            <span class="flexCenter" style="border-left: 1px solid;padding-left: 48px;border-radius: 0;">
                                <button class="trpntBtn" (click)="mergeCells()">Merge Cells</button>
                                <button class="trpntBtn" (click)="splitCells()">Split Cells</button>
                            </span>
                        </span>
                    }
                </mat-tab>
            }
        </mat-tab-group>
    }
    
    <ag-grid-angular #aggrid
        class="ag-theme-quartz"
        [rowData]="config().rowData"
        [columnDefs]="config().columnDefs"
        (gridReady)="onGridReady($event)"
        style="flex-grow: 1;"
        (contextmenu)="config().flags.customContextMenu ? factory.showContextMenu($event, config().flags.id) : true"
        >
    </ag-grid-angular>
</div>